body {
    width: 70%;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 1rem 5rem;
}

.label {
    font-size: 1.1rem;
}

#submitRequest {
    margin: 1rem 1rem;
    padding: 0.5rem;
    background-color: navy;
    color: white;
    font-size: 1rem;
    border: 2px solid black;
}

#serviceRequests__header {
    display: flex;
    justify-content: space-between;
}

#serviceRequests__header h3 {
    margin-right: 2rem;
}

ul {
    margin: 0;
}

.service-request__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    padding: 0 1rem;
}

.service-request__item__description {
    flex-basis: 70%;
    flex-wrap: wrap;
}


li::before {
    content: "🛠️";
}

.plumbers {
    margin: 1rem 1rem;
}

.delete__button {
    background-color: maroon;
    color: white;
    font-size: 1rem;
    border: 2px solid black; 
}

.completed-requests .plumbers {
    visibility: hidden;
}

.completed-requests li {
    background-color: rgba(255, 0, 0, 0.2);
}